@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

:root{
    --primary-color: #4daf54;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(to right, #4daf54, #3d8880);
    font-family: "Poppins";
}

.card{
    margin: 120px auto;
    width: 320px;
    height: 400px;
    background: #272d40;
    border-radius: 15px;
    padding: 20px;
    color: white;
    position: relative;
}

.card_heart, .card_cart{
   font-size: 25px;
   position: absolute;
   left: 20x;
   top: 15px;
}

.card_cart{
    left: unset;
    right: 20px;
}

.card_img{
    width: 90%;
}

.card_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_title, .card_price{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.card_title{
    color: var(--primary-color);
}

.card_color, .card_size{
    display: flex;
    align-items: center;
}

.card_size span{
    padding: 1px 10px;
    background: #dadada;
    color: black;
    border-radius: 5px;
    margin: 0 2px;
}

.card_color span{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 4px;
}

.card_color--green{
    background: green;
}

.card_color--red{
    background: red;
}

.card_color--black{
    background: black;
}